<nav class="navbar navbar-expand-lg navbar-light p-3 shadow-sm" style="background:#ffffff">
  <div class="container-fluid justify-content-center text-secondary">
   <span>teracord</span>
  </div>
</nav>